body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;

}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  }

.sait-navigation a,
.basket-navigation a {
  color: #000000;
}
.sait-navigation a:hover,
.basket-navigation a:hover {
  color: #fb565a;
}

.sait-navigation a:focus,
.basket-navigation a:focus {
  color: #bababa;
}
.main-header {
  background-color: #eeeeee;
}
h1.main-tagline {
  font-size: 55px;
  line-height: 55px;
}
.main-slider a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;

}
.main-slider a:hover {
  color: #ffffff;
  background-color: #e74246;
}
.main-slider a:focus {
  color: #e37376;
  background-color:#d7373b;
}
.advantage-text {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.advantage a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.advantage-sites a {
  background-color:#fb565a;
}
.advantage-sites a:hover {
  background-color: #e74246;
}
.advantage-sites a:focus {
  color: #e06366;
  background-color: #d7373b;
}
.advantage-apps a {
  background-color: #00ca74;
}
.advantage-apps a:hover {
  background-color: #00bc6c;
}
.advantage-apps a:focus {
  color:#4dc491;
  background-color: #00aa62;
}
.advantage-presentation a {
  background-color: #efc84a;
}
.advantage-presentation a:hover {
  background-color: #eab534;
}
.advantage-presentation a:focus {
  color: #ecc060;
  background-color: ;#e5a722;
}
.description-tagline {
  font-size: 45px;
  line-height: 45px;
}
.service {
  text-transform: uppercase;
}
.statistics-text{
  text-transform: uppercase;
}
.statistic-persent {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
}
.statistic-text {
  font-size: 16px;
  line-height: 18px;
}
.address-studio {
  text-transform: uppercase;
}
.footer-adress,
.footer-phone {
  font-size: 16px;
  line-height: 18px;
  color:#444444;
}
.address a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}
.address a:hover {
  background-color: #e74246;
}
.address a:focus {
  color:#e06366;
  background-color: #d7373b;

}
.tagline-text {
  font-size: 36px;
  line-height: 36px;
}
.discount-text {
  font-size: 16px;
  line-height: 22px;
}

.client-data input,
.letter textarea {
  font-size: 16px;
  line-height: 18px;
  color:#a1a1a1;
  border: 2px solid #d7dcde;
  font-family: inherit;

}
.client-data input:hover,
.letter textarea:hover {
  color:#a1a1a1;
  border: 2px solid #b4b9bb;
  outline: none;
}
.client-data input:focus,
.letter textarea:focus {
  color:#444444;
  border: 2px solid #000000;
}
.client-data input:disabled,
.letter textarea:disabled {
  color:#ea5b5f;
  border: 2px solid #e74246;
}

.popup-text {
  font-size: 45px;
  line-height: 45px;
}
.client-data label,
.letter label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
input[type="submit"] {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}
.header-text {
  font-size: 55px;
  line-height: 55px;
}
.title-filter,
.main-sorting {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.price-filter {
  font-size: 16px;
  line-height: 22px;
}
.field-options {
  font-size: 16px;
  line-height: 20px;
}
.field-options label {
  color:#283136;
}
.field-options label:hover {
  color:#000000;
}
.field-options label:disabled {
  color:#bec1c2;
}
.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}
.filter-button:hover {
  background-color: #dfdfdf;
}
.filter-button:focus {
  color:#a6a6a6;
  background-color: #d5d5d5;
  outline: none;
}
.sorting-list {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.template-sorting a {
  color:#a6a6a6;
}
.template-sorting a:hover{
  color: rgba(0,0,0,0.6)
}
.template-sorting a:focus{
  color: #000000;
}
.site-name {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.site-description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.site-list {
  background-color: #eeeeee;
}
.site-price {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}
.site-price:hover {
  background-color: #e74246;
}
.site-price:focus {
  background-color: #d7373b;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/*-------Сеточные стили-------*/

.main-navigation{
display: flex;
justify-content: space-between;
min-height: 70px;
}
.sait-navigation {
  margin: 0;
  padding: 0;
  width: 560px;
  min-height: 70px;

  list-style: none;
  }
.basket-navigation {
  margin: 0;
  padding: 0;
  width: 160px;
  min-height: 70px;

  list-style: none;
}
.main-header {
  margin-bottom: 80px;
}
.main-logo {
  widt: 160px;
  height: 70px;
}
.main-slider {
  display: flex;
  justify-content: space-between;
  widt: 1160px;
  min-height: 429px;
}
.advantage {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  list-style: none;
}
  .main-advantage {
    margin-bottom: 80px;
  }
 .information {
  margin-top: 41px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
}

.advertising-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;

  list-style: none;
}
.social {
  margin: 0;
  padding: 0;
  width: 260px;
  min-height: 80px;

  list-style: none;
}
.footer-text {
  padding-left: 140px;
}
.footer-item {
  display: flex;
}
.main-wrapper {
  display: flex;
  justify-content: space-between;
}
.template-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 760px;
  list-style: none;
}
