body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;

}

a {
  text-decoration: none;
}

button, input {
  overflow: visible;
}
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  }

.sait-navigation a,
.basket-navigation a {
  color: #000000;
}
.sait-navigation a:hover,
.basket-navigation a:hover {
  color: #fb565a;
}

.sait-navigation a:focus,
.basket-navigation a:focus {
  color: #bababa;
}
.current a::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}
.main-header {
  background-color: #eeeeee;
}
h1.main-tagline {
  font-size: 55px;
  line-height: 55px;
  margin-top: 0px;
}
.main-slider a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;

}
.main-slider a:hover {
  color: #ffffff;
  background-color: #e74246;
}
.main-slider a:focus {
  color: #e37376;
  background-color:#d7373b;
}
.advantage-text {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 24px;
}
.advantage a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.advantage-sites a {
  background-color:#fb565a;
}
.advantage-sites a:hover {
  background-color: #e74246;
}
.advantage-sites a:focus {
  color: #e06366;
  background-color: #d7373b;
}
.advantage-apps a {
  background-color: #00ca74;
}
.advantage-apps a:hover {
  background-color: #00bc6c;
}
.advantage-apps a:focus {
  color:#4dc491;
  background-color: #00aa62;
}
.advantage-presentation a {
  background-color: #efc84a;
}
.advantage-presentation a:hover {
  background-color: #eab534;
}
.advantage-presentation a:focus {
  color: #ecc060;
  background-color: ;#e5a722;
}
.description-tagline {
  font-size: 45px;
  line-height: 45px;
}
.service {
  text-transform: uppercase;
}
.statistics-text{
  text-transform: uppercase;
}
.statistic-persent {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
}
.statistic-text {
  font-size: 16px;
  line-height: 18px;
}
.address-studio {
  text-transform: uppercase;
}
.footer-adress p,
.footer-phone p {
  font-size: 16px;
  line-height: 18px;
  color:#444444;
}

.address a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}
.address a:hover {
  background-color: #e74246;
}
.address a:focus {
  color:#e06366;
  background-color: #d7373b;

}
.tagline-text {
  font-size: 36px;
  line-height: 36px;
}
.discount-text p {
  font-size: 16px;
  line-height: 22px;
}

.client-data input,
.letter textarea {
  font-size: 16px;
  line-height: 18px;
  color:#a1a1a1;
  border: 2px solid #d7dcde;
  font-family: inherit;

}
.client-data input:hover,
.letter textarea:hover {
  color:#a1a1a1;
  border: 2px solid #b4b9bb;
  outline: none;
}
.client-data input:focus,
.letter textarea:focus {
  color:#444444;
  border: 2px solid #000000;
}
.client-data input:invalid,
.letter textarea:invalid {
  color:#e74246;
  border-color:#e74246;
}
.popup {
  margin: auto;
  padding: auto;
  min-width: 321px;
  min-height: 308px;
  }

.popup-text {
  font-size: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.client-data label,
.letter label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
input[type="submit"] {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}
.header-text {
  font-size: 55px;
  line-height: 55px;
  padding-bottom: 115px;
  }
.title-filter,
.main-sorting {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.price-filter {
  font-size: 16px;
  line-height: 22px;
}
.field-options {
  font-size: 16px;
  line-height: 20px;
}
.field-options label {
  color:#283136;
}
.field-options label:hover {
  color:#000000;
}
.field-options label:disabled {
  color:#bec1c2;
}
.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}
.filter-button:hover {
  background-color: #dfdfdf;
}
.filter-button:focus {
  color:#a6a6a6;
  background-color: #d5d5d5;
}
.sorting-list {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.template-sorting a {
  color:#a6a6a6;
}
.template-sorting a:hover{
  color: rgba(0,0,0,0.6)
}
.template-sorting a:focus{
  color: #000000;
}
.site-name {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}
.site-description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
  margin-bottom: 35px;
}
.site-price {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  display: block;
  width: 200px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 80px;
  margin-bottom: 30px;
  border-radius: 2px;
  border: none;
  text-align: center;
}
.site-price:hover {
  background-color: #e74246;
}
.site-price:focus {
  background-color: #d7373b;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*-------Сеточные стили-------*/

.main-navigation{
display: flex;
justify-content: space-between;
min-height: 70px;
}
.sait-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 440px;
  min-height: 70px;

  list-style: none;
  }
.basket-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  width: 160px;
  min-height: 70px;

  list-style: none;
}
.basket-link{
  padding-left: 80px;
}
.header-text {
  text-align: center;
}
.main-header {
  margin-bottom: 80px;
}

.main-logo {
  width: 160px;
  height: 70px;
}
.main-logo:hover {
  fill: #303030;
}
.main-logo:focus {
  fill: #a6a6a6;
}
.main-slider {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  min-height: 429px;
}
.advantage {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;

  list-style: none;
}
  .main-advantage {
    margin-bottom: 80px;
  }
 .information {
  display: flex;
  justify-content: space-between;
}
.advertising hr{
  opacity: 0.3;
}

.advertising-list {
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;

  list-style: none;
}
.advertising-item {
  width: 260px;
  height: 90px;
}
.advertising-item a {
  opacity: 0.3;
}
.advertising-item a:hover{
  opacity: 1;
}
.advertising-item {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
}
.advertising-item::after {
  content: "";
  width: 2px;
  height: 50px;
  background-color: #111111;
  position: absolute;
  display: block;
  right: 10px;
  top: 8px;
  margin:0;
  padding:0;
  opacity: 0.2;
}
.advertising-item:last-child::after {
  display: none;
}
.social {
  margin: 0;
  padding: 0;
  width: 260px;
  min-height: 80px;

  list-style: none;
}
.footer-text {
  padding-left: 140px;
}
.footer-item {
  display: flex;
  margin-bottom: 78px;
}
.main-wrapper {
  display: flex;
  justify-content: space-between;
}
.template-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 800px;
  list-style: none;
  justify-content: space-between;
}
.template-item {
  margin-bottom: 40px;
}

.slider {
  position:relative;
  width:1160px;
  height:430px;
}


.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}
/*.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 160px;
  height: 22px;
  margin-left:-135px;
  text-align:center;
  z-index:1000;
}
.slider-controls label{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 18px;
    background: white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}*/
.slider-controls label {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}
.slider-controls label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls .active{
    background:#ffff42;
}
.button-down-active {
  opacity: 1;
}
.slider-list{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    margin: 0px;
    padding: 0px;
  }

  .slider-item {
    display: none;
    width: 1200px;
    height: 500px;
    padding-top: 80px;
  }
  .slider-item a {
    padding: 18px 54px;
    color:#ffffff;
    background-color: #fb565a;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
  }
  .slider-item a:hover {
    background-color: #e74246;
  }
  .slider-item a:focus {
    padding: 14px 50px;
    border: 4px solid #d7373b;
    border-top: 4px solid #c13135;
    background-color: #d7373b;
    color: #e26f72;
  }
/*
.slide:nth-child(1){
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position:100% 10px;
  }

.slide:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slide:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slide:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}


.slide:nth-child(2){
    background-image:url("../img/slide2.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url("../img/slide3.png");
    background-repeat:no-repeat;
    background-position:100% 0;
}*/
.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 431px 25px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 495px 0px;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 400px 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}
/*
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

    position: relative;
    bottom: -5px;
    width: 4px;
    height: 4px;
    background: white;
    border: 2px solid #c1c1c1;

    box-shadow: 0 0 0 5px white;
  }*/
.main-logo {
    margin-top: 47px;
  }
.sait-navigation,
.basket-navigation {
  margin-top:  74px;
}

.basket-navigation::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 30px;

  width: 22px;
  height: 22px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

}
 .advantage a {
  display: block;
  width: 160px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 2px;
 }
 .main-text {
  margin-bottom: 38px;
 }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.slide a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 240px;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 5px;
}
.slide a:hover {
  background-color: #e74246;
}
.slide a:focus {
  background-color: #d7373b;
  color: #e37376;
}
.description-tagline {
  display: block;
  padding-bottom: 34px;
  padding-top: 70px;
}
.description-item {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}
.service-list {
  margin-top: 0;
  margin-bottom: 0;
}

.service-item {
  margin-bottom: 32px;
  list-style-image: url("../img/red-dash-2.png");
}
.service {
  display: block;
  margin-bottom: 32px;
}
.statistics img {
  display: block;
  margin-top: 40px;
  margin-bottom: 37px;
}
.statistics-text {
  display: block;
  margin-top: 45px;
  margin-bottom: 70px;
}
 td {
  padding-bottom: 40px;
}
.advertising {
  margin-bottom: 80px;
}
.advertising-list {
  padding-left: 60px;
}
.main-footer img {
  margin-bottom: 70px;
}
.main-footer {
  position: relative;
}
.address {
  position: absolute;
  top: 54px;
  width: 319px;
  background-color: #ffffff;
  min-height: 308px;
  z-index: 3;
}
.address-studio {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 27px;
}
.footer-adress {
  margin-bottom: 20px;
  margin-left: 50px;
  font-size: 16px;
  line-height: 18px;
}

.main-footer iframe {
  position: relative;
  z-index: 2;
  margin-bottom: 68px;

  border: none;
}
.image  {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}
.footer-phone {
  margin-left: 50px;
  margin-bottom: 40px;
}
.write-us {
  margin-left: 50px;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-align: 18px;
  color: #ffffff;
  background-color: #fb565a;
  border-style: none;

}
.write-us:hover {
  background-color: #e74246;
}
.write-us:focus {
  background-color: #d7373b;
  color: #e37376;
  border-top: 3px solid #c13135;
}
.address a {
  display: block;
  text-align: center;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  border-radius: 5px;
}
.address a:hover {
  background-color: #e74246;
}
.address a:focus {
  background-color: #d7373b;
  color: #e06366;
}
.marker {
  position: absolute;
  top: 55px;
  left: 780px;
  z-index: 1;
}
.social {
  min-width: 260px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-social ul{
  display: flex;
}
.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-item:hover {
  background-color: #e74246;
}

.social-item:focus {
  background-color: #d7373b;
}
.social-item:focus+svg {
  fill:#e37376;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.client-data {
  display: flex;
  justify-content: space-between;
}
.popup-text {
  font-size: 45px;
  line-height: 45px;
}
.name input,
.e-mail input {
  width: 350px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 35px;
  padding-left: 10px;
  border-radius: 3px;

}
.name,
.e-mail,
.letter {
  margin: 0;
}
.text {
  margin: 5px;
}
.letter textarea {
  width: 742px;
  height: 106px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 3px;
}
input[type="submit"] {
  widt: 260px;
  height: 50px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 5px;
  border: none;
}
input[type="submit"]:hover {
  background-color: #e74246;
}
input[type="submit"]:focus {
  background-color: #d7373b;
  color: #e37376;
}
.range-filter {
  width: 260px;
}
.range-controls {
  position: relative;
  height: 80px;
  border-radius: 5px;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  background: #eeeeee;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.price-controls {
  font-size: 0;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
.grid-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.field-options {
  margin-bottom: 22px;
  padding-left: 30px;
}
.grid-list {
  margin-bottom: 48px;
}
.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.price {
  margin-bottom: 56px;
}
.filter-button {
  width: 260px;
  height: 50px;
  border-radius: 5px;
  border: none;
}
.filter-button:hover {
  background-color: #dfdfdf;
}
.filter-button:focus {
  color: #959595;
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}
.field-options label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -2px;

  width: 30px;
  height: 30px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}
.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -30px;
  top: -2px;

  width: 30px;
  height: 30px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}
.filter-input-radio:checked + label::before {
  opacity: 0;
}
.filter-input-radio + label:hover:before,
.filter-input-radio:checked + label:hover:after {
  opacity: 1;
}
.filter-input-radio:disabled + label:hover:before {
  opacity: 0.4;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -2px;

  width: 30px;
  height: 30px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -30px;
  top: -2px;

  width: 30px;
  height: 30px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.5;

}
.filter-input-checkbox:checked + label::before {
  opacity: 0;
}
/*.filter-input-checkbox:checked + label:hover:before,*/
.filter-input-checkbox:checked + label:hover:after {
  opacity: 1;
}
.filter-input-checkbox:checked + label:hover:before {
  opacity: 0;
}
.filter-input-checkbox + label:hover:before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label:hover:before,
.filter-input-checkbox:checked:disabled+ label:hover:after {
  opacity: 0.1;
}
.filter-input {
  color: #283136;
}
.filter-input+label:hover {
  color: #111111;
}
.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}
.pagination-item {
  margin-right: 10px;
  font-weight: 700;
  text-transform: uppercase;

}
.pagination-item a {
  color: #000000;
  display: block;
  padding: 16px 25px;
  border: 3px solid #eeeeee;
  border-radius: 5px;


  background-color: #eeeeee;
}
.pagination-item a:hover {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
  border-radius: 5px;
}

.pagination-item a:focus {
  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
  border-top: 3px solid #bfbfbf;
  border-radius: 5px;
}
.pagination-item-current  a {
  background-color: #ffffff;

}
.next-item a {
  padding-left: 77px;
  padding-right: 77px;
}
.sorting {
  list-style: none;
  display: flex;
  align-items: center;
}
.main-sorting {
  dosplay: block;
  margin-right: 305px;
}
.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 280px;
  justify-content: space-between;
}
.button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  width: 42px;
}

.list-down,
.up-list  {
  opacity: 0.2;
}

.list-down:hover,
.up-list:hover {
  opacity: 0.3;
}
.list-down:focus,
.up-list:focus {
  opacity: 1;
}
.list-down-active {
  opacity: 1;
}
.site-list{
  display: none;
  position: absolute;
  top: 388px;
  width: 360px;
  min-height: 231;
  background-color: #eeeeee;

}
.template-item:hover .site-list {
  display: block;
}
.template-item {
  position: relative;
}
.popup {
  display: none;
  width: 760px;
  min-height: 440px;
  padding-top: 73px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 85px;
  z-index: 4;

  top: 10px;
  left: 15%;
}
.modal {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 0 50px rgba( 0, 0, 0, 0.7);
}
.popup-close {
  position: relative;
  top: -20px;
  right: -15px;
  width: 25px;
  height: 25px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}
.popup-close:hover {
  opacity: 1;
}
.popup-close:focus {
  opacity: 0.1;
}

.modal-show {
  display: block;
}
.templates {
  padding:0;
  margin: 0;
  position: relative;
  padding-top: 40px;
  margin-bottom: 0px;
}
.templates::after {
  content:"";
  position: absolute;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
  background-position: 0 10;
  width: 360px;
  height: 40px;
  top: 1px;
  right: 0px;
}
.templates:hover::after {
  opacity: 1;
}
.template-item:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

